<!DOCTYPE html>
<html>
    <head><title>Add item</title></head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <body>
        <form method="POST" action=" {{url_for('main.process_add')}}" enctype="multipart/form-data">
            <label for="category">category:</label>
            <select id="category" name="categoryID">
                {% for category in categories %}
                <option value={{category.ID}}>{{category.Name}}</option>
                {% endfor %}
            </select>
            <br>description:
            <br><textarea id="description" name="description" placeholder="enter description here..."></textarea>
            <br>photo upload:
            <input id="photo" name="photo" type="file">
            <br>
            <input type="submit">
        </form>
        <a href="{{url_for('main.display')}}">discard and return to listing</a>
    </body>
</html>
