<!DOCTYPE html>
<html>
    <head><title>Todo List</title></head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <body>
        {% if todoList %}
        <table>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Status</th>
                <th>Added On</th>
                <th>Modify</th>
            </tr>
            {% for item in todoList %}
            <tr>
                <td>{{item.categoryName}}</td>
                <td>
                    {{item.description}}
                    {% if item.imageURL!='None' %}
                        <span>
                        <img style="display:block;" width="50%" height="50%" 
                            src="{{url_for('main.get_file', filename=item.imageURL)}}"
                            alt="{{item.imageURL}}">
                        </span>
                    {% endif %}  
                </td>
                <td>{{item.status}}</td>
                <td>{{item.addOn}}</td>
                <td>
                    <a href="{{url_for('main.edit', itemID=item.ID)}}">Edit</a>
                    <a href="{{url_for('main.delete', itemID=item.ID)}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>todo list is empty!</p>
        {% endif %}
        <a href="{{url_for('main.add')}}"><button>Add Item</button></a>
        <a href="{{ url_for('main.logout_the_user') }}"><button>Logout</button></a>
    </body>
</html>

