<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <body>
        <div>
            {% if current_user.is_authenticated %}
            <h3>Welcome!</h3>
            <a href="{{ url_for('main.display') }}"><button>Show Todo List</button></a>
            <a href="{{ url_for('main.logout_the_user') }}"><button>Logout</button></a>
            {% else %}
            <h3>Please Register or Login</h3>
            <a href="{{ url_for('main.register') }}"><button>Register</button></a>
            <a href="{{ url_for('main.login') }}"><button>Login</button></a>
            {% endif %}
        </div>
    </body>
</body>
</html>